@*
    1. Create a form that accepts inputs for each of the User class properties. 
    
    2. Include an additional password input field to verify the password input. 
    
    3. The form should be set up to POST to /user.
*@
@if (ViewBag.error != null)
{
    <p id="error-message">@ViewBag.error</p>
}

<form method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Username" value="@ViewBag.username"/>
    
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="Email@email.com" value="@ViewBag.email"/>
    
    <label for="password">Password: </label>
    <input type="password" name="password" />
    
    <label for="verify">Verify Password: </label>
    <input type="password" name="verify" />
    
        
    <input type="submit" name="submit" value="Submit" />
</form>
