@using SpaDay.Models

@model User

<title>Spa Welcome Page</title>
<div>
    <h1>Welcome to the spa, <span>@Model.Username</span>!</h1>

    <a asp-controller="Spa" asp-action="Index">To the Spa!</a>
</div>
<div>
    <h3>User Details:</h3>
    <ul>
        <li>Name: @Model.Username</li>
        <li>Email: @Model.Email</li>
        <li>Sign-up Date: @Model.Date.ToString("dd MMMM yyyy")</li>
    </ul>
</div>